<div class="col-md-12">
  <% @listings.each do |listing| %>
    <h3>
      <%= listing.name %>
      <small><%= listing.address %></small>
      <div class="pull-right">
        <%= link_to edit_listing_path(listing), class: "icon-link" do %>
          <small><i class="glyphicon glyphicon-cog"></i></small>
        <% end %>
        <small><i class="glyphicon glyphicon-plus-sign"></i></small>
      </div>
    </h3>

    <ul class="list-group">
      <li class="list-group-item">No campaigns yet!</li>
    </ul>
  <% end %>
</div>
