<div class="col-md-12">
  <div class="jumbotron">
    <h1>CRE Console</h1>
    <p>Buy commercial real estate listings</p>
    <p><%= link_to "Create Investor Account", new_investor_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>
